header {
  height: 50px;
  width: 100%;
  background-color: #000000;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

img.slider-img{
  display: block;
  padding: 10px 10px;
  margin: 0 auto;
  height: 98%;
  width: 98%;
  overflow: auto;
}

img.image{
  display: block;
  height: 13%;
  width: 13%;
  position: static;
  float: left;
  padding: 10px 5px;
  margin: auto auto;
}

p{
  position: sticky;
  height: 300px;
  margin: auto 10px;
  padding: 10px 10px;
  column-gap: 40px;
  column-rule: thin solid black;
  column-count: 4;
  text-align: justify;
}

main{
  height: auto;
  width: auto;
  background-repeat: no-repeat;
  background-image: linear-gradient(135deg, #87ceeb, #00ccff, #c9f6ff );
  box-shadow: 2px 2px 5px grey;
}

.card{
  padding: 10px 10px;
}

.slider{
  position: static;
  top: 0px;
  height: inherit;
  width: inherit;
  align-items: center;
}

footer{
  color: white;
  background-color: black;
  text-align: center;
  height: 50px;
  width: auto;
}
